.background-box {
	width: 100%;
	height: 100%;
	background-color: #839EC9;
}

.title-label {
	font-size: 88px;
	color: #FFFFFF;
	-unity-font-definition: url("/Assets/Fonts/steelfish-bold.asset");
	padding-left: 12px;
}

.agent-select-button {
	padding: 12px 12px 4px 4px;
	-unity-font-definition: url("/Assets/Fonts/DINN-Regular.asset") color: #ffffff;
	background-color: #009BBF;
	border-radius: 0px;
	border-width: 1px;
	border-color: #AEAEAE;
	border-style: solid;
	font-size: 16px;
	text-align: center;
}

	.agent-select-button:hover {
		background-color: #0089A6;
	}
