.agent-select-button {
    padding: 12px 12px 4px 4px;
    -unity-font-definition: url("/Assets/Fonts/DINN-Regular.asset") color: #ffffff;
    background-color: #009BBF;
    border-radius: 0px;
    border-width: 1px;
    border-color: #AEAEAE;
    border-style: solid;
    font-size: 16px;
    text-align: center;
}

.agent-select-button:hover {
    background-color: #0089A6;
}
